VITE_APP_TITLE="Master Data Satuan Ukur"
VITE_APP_PORT=5173
VITE_APP_HOST="0.0.0.0"

# Konfigurasi Supabase PostgreSQL Cloud Database
VITE_SUPABASE_URL=https://bdxzxiwtvpeglgicwwav.supabase.co/
VITE_SUPABASE_ANON_KEY=sb_publishable_lg2qeUc9J928QhBvmnl1OA_uiO-qEb-
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_lg2qeUc9J928QhBvmnl1OA_uiO-qEb-
NEXT_PUBLIC_SUPABASE_URL=https://bdxzxiwtvpeglgicwwav.supabase.co/
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_lg2qeUc9J928QhBvmnl1OA_uiO-qEb-